.container {
    display: flex;
    flex-direction: column;
    width: 150px;
    /* Adjust width as needed */
    margin: 100px auto;
    /* Centering the container vertically and horizontally */
    background: #a0a1a1;
    border-radius: 50px;
    height: 440px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
    margin-top:30px;
}

.text{
    color:#2a7eed;
    font-size: 20px;
    font-weight: 700;
}

.underline{
    width:61px;
    height: 6px;
    background: #2a7eed;
    border-radius: 9px;

}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display:flex;
    align-items: center;
    margin: auto;
    width: 300px;
        height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
    width: 10%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.input input{
    padding: 0px;
        margin-left: 0px;
        height: 30px;
        width: 200px;
     background: transparent;
     border: none;
     outline: none;
     color: #797979;
    font-size: 14px;
}

/* .forgot-password{
    padding-left: 62px ;
    margin-top:27px;
    color: #131111;
    font-size: 18px;
} */

.forgot-password {
    /* Other styles remain unchanged */
    /* position: absolute; */
    bottom: 0;  /*  Position at the bottom of the container */
    left: 0; /* Align to the left */
    width: 100%; /* Take full width of the container */
    text-align:center; /* Center text */
    margin-top: 30px; /* Adjust as needed */
}

.forgot-password span{
    color: #315ae1;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 59px;
    color: #fff;
    background: #2a7eed;
    border-radius:50px ;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background:#eaeaea ;
    color: #676767;
}





